fastapi
uvicorn
langchain
langchain-openai
langchain-pinecone
langchain-text-splitters
langchain-huggingface
pinecone-client
openai
groq
sentence-transformers
unstructured[pdf]
pypdf
tiktoken
python-multipart
python-dotenv
pydantic-settings
pytest
httpx
requests
numpy
scikit-learn